
* {
	display: white;
	text-shadow: 3px 3px 5px rgba(0,0,0,0.7);
}
body{ 
	max-width: 1000px;
	margin: 0 auto;
	background-image: url("texture.jpg");
}

.icons{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 0;

}
.icons>img{
	max-height: 60px;
}
.icons>article>.tel{
	font-size: 24px;
} 
.buttons{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 60px;
	
}
.buttons>button{
	color: white;
	border-style: none;
	border-style: solid;

}
.buttons>button:nth-child(1) {
	background-color: cyan;
	
}
.buttons>button:nth-child(2) {
	background-color: red;

}
.buttons>button:nth-child(3) {
	background-color: lightsalmon;
}
.buttons>button:nth-child(4) {
	background-color: yellow;
}
.buttons>button:nth-child(5) {
	background-color: pink;
}
.buttons>button:nth-child(6) {
	background-color: greenyellow;
}

/*Основная часть */
body>section{
	margin-top: 20px;
	display :grid;
	grid-template-columns:  1fr 3fr;

}
 
nav>button{
	width: 100%;
	background-color: red;
	padding: 20px 0;
	color : white;


}
main {
	padding-left: 20px;
}

main>article{
	position: relative;
}  

main>article>img{
	max-width: 100%;
	

}
main>article>h1{
	position: absolute;
	padding: 0;
	margin: 0;
	color: white;
	font-size: 36px;
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}
 
 .orange {
 	background-color: orange;
 }
 .cyan{
 	background-color: cyan;
 }
.info{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

.info>p{
	padding: 20px;
	text-align: center;
}



